In [2]:
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd

In [104]:
file = r'Print 1963.xls'
df = pd.read_excel(file, sheetname='Udaipur',header = None)

In [105]:
df[:50]

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,STATION :,NaN,UDAIPUR (A),NaN,NaN,DISTRICT :,NaN,UDAIPUR,NaN,STATE :,NaN,RAJASTHAN,NaN
1,CATCHMENT NO. :,NaN,NaN,NaN,NaN,LATITUDE :,NaN,"240 35"" N",NaN,LONGITUDE :,NaN,"730 42"" E",NaN
2,-,-,-,-,-,-,-,-,-,-,-,-,-
3,DATE,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
4,-,-,-,-,-,-,-,-,-,-,-,-,-
5,1,0,0,0,0,0,0,0,42.4,0,0,0,0
6,2,0,0,0,0,0,0,0,0,2.8,0,0,0
7,3,0,0,0,0,0,0,21.8,3.4,0,0,0,0
8,4,0,0,0,0,0,0,0,0.8,0,0,0,0
9,5,0,0,0,0,0,0,26.6,15.6,0,0,0,0
10,6,0,0,0,0,0,0,94.2,18.8,18.9,0,0,0
11,7,0,0,0,0,0,33.8,33.2,0.2,27.3,0,0,0
12,8,0,0,0,0,0,27,38.8,14.9,0.9,0,0,0
13,9,0,0,0,0,0,0,1.6,3.4,2.9,0,0,0
14,10,0,0,0,0,0,0,0,1.2,0.4,0,0,0
15,11,0,0,0,0,2.4,0,0,32.8,0,0,0,0
16,12,0,0,0,0,0,0,0,10.8,0,0,0,0
17,13,0,0,0,0,0.2,0,0,0,12,0,0,0
18,14,0,0,0,0,0,0,0,0,0,0,0,0
19,15,0,0,0,0,0,0,0,0,0.3,1.2,0,0
20,16,0,0,0,0,0,0,0,0,0,0.6,0,0
21,17,0,0,0,0,0,0,0,0,0,53.6,2,0
22,18,0,0,0,0,0,0,0,3.4,0,22.4,0,0
23,19,0,0,0,0,0,0,0,0,0,0,0,0
24,20,0,0,0,0,0,0,0,0,0,0,0,0
25,21,0,0,0,0,0,0,0,4.2,0,0,0,0
26,22,0,0,0,0,0,0,0,0,0,0,12.6,0
27,23,0,0,0,0,0,0,0.1,0.8,0,0,0,0
28,24,0,0,0,8.3,0,0,0,0,0,0,0,0
29,25,0,0,0,0,0,0,0,0.6,0,0,0,0
30,26,0,0,0,0,0,0,0,0,0,0,16,0
31,27,0,0,0,0,0,13.4,0,7.8,0,0,0,0
32,28,0,0,0,0,0,14.5,0,39.1,0,0,0,0
33,29,0,NaN,0,0,0,64.8,36.5,14.2,0,0,0,0
34,30,0,NaN,0,0,0,0,14.4,17.2,0,0,0,0
35,31,0,NaN,13.8,NaN,0,NaN,2.2,0,NaN,0,NaN,0
36,-,-,-,-,-,-,-,-,-,-,-,-,-
37,MONTHLY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,RAINFALL,0,0,13.8,8.3,2.6,153.5,269.4,231.6,65.5,77.8,30.6,0
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,RAINYDAYS,0,0,1,1,0,5,7,14,5,2,2,0
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NO.OFOBS-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,-ERVATION,31,28,31,30,31,30,31,31,30,31,30,31
44,-,-,-,-,-,-,-,-,-,-,-,-,-
45,HIGHEST DAILY RAINFALL FOR 1963 WAS,NaN,NaN,NaN,NaN,94.2,mm ON,1963-07-06 00:00:00,NaN,64.8,mm ON,1963-06-29 00:00:00,NaN
46,NaN,NaN,NaN,NaN,NaN,53.6,mm ON,1963-10-17 00:00:00,NaN,NaN,NaN,NaN,NaN
47,ANNUAL RAINFALL =,NaN,NaN,853.1,ANNUAL RAINY DAYS =,NaN,NaN,37,ANNUAL NO OF OBSERVATIONS =,NaN,NaN,NaN,365
48,-,-,-,-,-,-,-,-,-,-,-,-,-
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
data_size = len(df) // 50
for i in range(data_size+1):
    print(i)
    print(df[2][50*i] + " " + df[7][50*i] + " " + df[11][50*i])
    print(df[7][50*i+1])

0
UDAIPUR (A) UDAIPUR RAJASTHAN
240 35" N
1
KOTRA (A) UDAIPUR RAJASTHAN
240 11" N
2
JADOL (A) UDAIPUR RAJASTHAN
250 45" N
3
TARPAL (A) UDAIPUR RAJASTHAN
230 59" N
4
UDAIPUR UDAIPUR RAJASTHAN
240 04" N
5
SARARA UDAIPUR RAJASTHAN
240 06" N
6
BHIM UDAIPUR RAJASTHAN
240 11" N
7
KHERWARA UDAIPUR RAJASTHAN
250 45" N
8
KUMBHALGARH UDAIPUR RAJASTHAN
230 59" N
9
AMET UDAIPUR RAJASTHAN
nan
10
DEVGARH UDAIPUR RAJASTHAN
240 35" N
11
VALLABH NAGAR UDAIPUR RAJASTHAN
250 10" N
12
MAVLI UDAIPUR RAJASTHAN
250 19" N
13
LASADIYA UDAIPUR RAJASTHAN
250 34" N
14
SALUMBER UDAIPUR RAJASTHAN
240 52" N
15
PHALASIYA UDAIPUR RAJASTHAN
240 47" N
16
KOTRA UDAIPUR RAJASTHAN
240 08" N
17
GOGUNDA UDAIPUR RAJASTHAN
240 22" N
18
RAIL MAGRA UDAIPUR RAJASTHAN
nan
19
NATHDWARA UDAIPUR RAJASTHAN
250 02" N
20
RAJSAMAND UDAIPUR RAJASTHAN
240 55" N
21
NAGLIYA UDAIPUR RAJASTHAN
nan
22
BAGOLIYA UDAIPUR RAJASTHAN
240 38" N
23
KEWARA UDAIPUR RAJASTHAN
nan
24
KAMLI UDAIPUR RAJASTHAN
nan
25
GHASA UDAIPUR RAJASTHAN
nan
26
KARAWARA UDAIPUR RAJASTHAN
240 50" N
27
KANOR UDAIPUR RAJASTHAN
nan
28
RAKHABDEV * UDAIPUR RAJASTHAN
nan
29
VANA UDAIPUR RAJASTHAN
nan
30
KURABAR * UDAIPUR RAJASTHAN
nan
31
BABALWARA UDAIPUR RAJASTHAN
nan
32
SOM UDAIPUR RAJASTHAN
nan
33
PADUNA UDAIPUR RAJASTHAN
nan
34
NAMANA UDAIPUR RAJASTHAN
nan
35
CHANDRABHAGA UDAIPUR RAJASTHAN
nan
36
BHARAI UDAIPUR RAJASTHAN
nan

In [107]:
for i in range(len(df) // 50 +1):
    x = df.iloc[[50*i]]
    y = df.iloc[[50*i + 1]]
    print(i)
    print(x[2].values + " " + x[7].values + " " + x[11].values)
    print("%s %s %s\n" %(y[2].values ,y[7].values ,y[11].values ))

0
['UDAIPUR (A) UDAIPUR RAJASTHAN']
[nan] ['240 35" N'] ['730 42" E']

1
['KOTRA (A) UDAIPUR RAJASTHAN']
[105] ['240 11" N'] ['730 55" E']

2
['JADOL (A) UDAIPUR RAJASTHAN']
[106] ['250 45" N'] ['740 05" E']

3
['TARPAL (A) UDAIPUR RAJASTHAN']
[105] ['230 59" N'] ['730 36" E']

4
['UDAIPUR UDAIPUR RAJASTHAN']
[106] ['240 04" N'] ['730 53" E']

5
['SARARA UDAIPUR RAJASTHAN']
[105] ['240 06" N'] ['740 28" E']

6
['BHIM UDAIPUR RAJASTHAN']
[105] ['240 11" N'] ['730 55" E']

7
['KHERWARA UDAIPUR RAJASTHAN']
[106] ['250 45" N'] ['740 05" E']

8
['KUMBHALGARH UDAIPUR RAJASTHAN']
[105] ['230 59" N'] ['730 36" E']

9
['AMET UDAIPUR RAJASTHAN']
[106] [nan] [nan]

10
['DEVGARH UDAIPUR RAJASTHAN']
[106] ['240 35" N'] ['730 42" E']

11
['VALLABH NAGAR UDAIPUR RAJASTHAN']
[106] ['250 10" N'] ['730 34" E']

12
['MAVLI UDAIPUR RAJASTHAN']
[106] ['250 19" N'] ['730 56" E']

13
['LASADIYA UDAIPUR RAJASTHAN']
[106] ['250 34" N'] ['730 58" E']

14
['SALUMBER UDAIPUR RAJASTHAN']
[406] ['240 52" N'] ['740 00" E']

15
['PHALASIYA UDAIPUR RAJASTHAN']
[406] ['240 47" N'] ['730 59" E']

16
['KOTRA UDAIPUR RAJASTHAN']
[105] ['240 08" N'] ['740 03" E']

17
['GOGUNDA UDAIPUR RAJASTHAN']
[106] ['240 22" N'] ['730 10" E']

18
['RAIL MAGRA UDAIPUR RAJASTHAN']
[106] [nan] [nan]

19
['NATHDWARA UDAIPUR RAJASTHAN']
[106] ['250 02" N'] ['740 08" E']

20
['RAJSAMAND UDAIPUR RAJASTHAN']
[106] ['240 55" N'] ['730 50" E']

21
['NAGLIYA UDAIPUR RAJASTHAN']
[106] [nan] [nan]

22
['BAGOLIYA UDAIPUR RAJASTHAN']
[406] ['240 38" N'] ['730 42" E']

23
['KEWARA UDAIPUR RAJASTHAN']
[106] [nan] [nan]

24
['KAMLI UDAIPUR RAJASTHAN']
[106] [nan] [nan]

25
['GHASA UDAIPUR RAJASTHAN']
[106] [nan] [nan]

26
['KARAWARA UDAIPUR RAJASTHAN']
[nan] ['240 50" N'] ['730 50" E']

27
['KANOR UDAIPUR RAJASTHAN']
[106] [nan] [nan]

28
['RAKHABDEV * UDAIPUR RAJASTHAN']
[106] [nan] [nan]

29
['VANA UDAIPUR RAJASTHAN']
[106] [nan] [nan]

30
['KURABAR * UDAIPUR RAJASTHAN']
[106] [nan] [nan]

31
['BABALWARA UDAIPUR RAJASTHAN']
[106] [nan] [nan]

32
['SOM UDAIPUR RAJASTHAN']
[106] [nan] [nan]

33
['PADUNA UDAIPUR RAJASTHAN']
[106] [nan] [nan]

34
['NAMANA UDAIPUR RAJASTHAN']
[106] [nan] [nan]

35
['CHANDRABHAGA UDAIPUR RAJASTHAN']
[106] [nan] [nan]

36
['BHARAI UDAIPUR RAJASTHAN']
[106] [nan] [nan]

In [108]:
t = []
for i in range(len(df) // 50 +1):
    x = df.iloc[[50*i]]
    y = df.iloc[[50*i + 1]]
    t += [[x[2].values , x[7].values,x[11].values,y[2].values,y[7].values,y[11].values]]

In [109]:
q = pd.DataFrame(t)
q

                  0          1            2      3            4            5
0     [UDAIPUR (A)]  [UDAIPUR]  [RAJASTHAN]  [nan]  [240 35" N]  [730 42" E]
1       [KOTRA (A)]  [UDAIPUR]  [RAJASTHAN]  [105]  [240 11" N]  [730 55" E]
2       [JADOL (A)]  [UDAIPUR]  [RAJASTHAN]  [106]  [250 45" N]  [740 05" E]
3      [TARPAL (A)]  [UDAIPUR]  [RAJASTHAN]  [105]  [230 59" N]  [730 36" E]
4         [UDAIPUR]  [UDAIPUR]  [RAJASTHAN]  [106]  [240 04" N]  [730 53" E]
5          [SARARA]  [UDAIPUR]  [RAJASTHAN]  [105]  [240 06" N]  [740 28" E]
6            [BHIM]  [UDAIPUR]  [RAJASTHAN]  [105]  [240 11" N]  [730 55" E]
7        [KHERWARA]  [UDAIPUR]  [RAJASTHAN]  [106]  [250 45" N]  [740 05" E]
8     [KUMBHALGARH]  [UDAIPUR]  [RAJASTHAN]  [105]  [230 59" N]  [730 36" E]
9            [AMET]  [UDAIPUR]  [RAJASTHAN]  [106]        [nan]        [nan]
10        [DEVGARH]  [UDAIPUR]  [RAJASTHAN]  [106]  [240 35" N]  [730 42" E]
11  [VALLABH NAGAR]  [UDAIPUR]  [RAJASTHAN]  [106]  [250 10" N]  [730 34" E]
12          [MAVLI]  [UDAIPUR]  [RAJASTHAN]  [106]  [250 19" N]  [730 56" E]
13       [LASADIYA]  [UDAIPUR]  [RAJASTHAN]  [106]  [250 34" N]  [730 58" E]
14       [SALUMBER]  [UDAIPUR]  [RAJASTHAN]  [406]  [240 52" N]  [740 00" E]
15      [PHALASIYA]  [UDAIPUR]  [RAJASTHAN]  [406]  [240 47" N]  [730 59" E]
16          [KOTRA]  [UDAIPUR]  [RAJASTHAN]  [105]  [240 08" N]  [740 03" E]
17        [GOGUNDA]  [UDAIPUR]  [RAJASTHAN]  [106]  [240 22" N]  [730 10" E]
18     [RAIL MAGRA]  [UDAIPUR]  [RAJASTHAN]  [106]        [nan]        [nan]
19      [NATHDWARA]  [UDAIPUR]  [RAJASTHAN]  [106]  [250 02" N]  [740 08" E]
20      [RAJSAMAND]  [UDAIPUR]  [RAJASTHAN]  [106]  [240 55" N]  [730 50" E]
21        [NAGLIYA]  [UDAIPUR]  [RAJASTHAN]  [106]        [nan]        [nan]
22       [BAGOLIYA]  [UDAIPUR]  [RAJASTHAN]  [406]  [240 38" N]  [730 42" E]
23         [KEWARA]  [UDAIPUR]  [RAJASTHAN]  [106]        [nan]        [nan]
24          [KAMLI]  [UDAIPUR]  [RAJASTHAN]  [106]        [nan]        [nan]
25          [GHASA]  [UDAIPUR]  [RAJASTHAN]  [106]        [nan]        [nan]
26       [KARAWARA]  [UDAIPUR]  [RAJASTHAN]  [nan]  [240 50" N]  [730 50" E]
27          [KANOR]  [UDAIPUR]  [RAJASTHAN]  [106]        [nan]        [nan]
28    [RAKHABDEV *]  [UDAIPUR]  [RAJASTHAN]  [106]        [nan]        [nan]
29           [VANA]  [UDAIPUR]  [RAJASTHAN]  [106]        [nan]        [nan]
30      [KURABAR *]  [UDAIPUR]  [RAJASTHAN]  [106]        [nan]        [nan]
31      [BABALWARA]  [UDAIPUR]  [RAJASTHAN]  [106]        [nan]        [nan]
32            [SOM]  [UDAIPUR]  [RAJASTHAN]  [106]        [nan]        [nan]
33         [PADUNA]  [UDAIPUR]  [RAJASTHAN]  [106]        [nan]        [nan]
34         [NAMANA]  [UDAIPUR]  [RAJASTHAN]  [106]        [nan]        [nan]
35   [CHANDRABHAGA]  [UDAIPUR]  [RAJASTHAN]  [106]        [nan]        [nan]
36         [BHARAI]  [UDAIPUR]  [RAJASTHAN]  [106]        [nan]        [nan]

In [110]:
len(df) // 50

36

In [111]:
z = df.iloc[[50*0 + 38]]
for i in range(1,len(df) // 50 +1):
    z1 = df.iloc[[50*i + 38]]
    z = pd.concat([z,z1],ignore_index = True)

In [15]:
z = z.drop(0,axis = 1)

In [16]:
Monthly_Rainfall = pd.concat([q,z],axis = 1)

In [17]:
Monthly_Rainfall

,0,1,2,3,4,5,1,2,3,4,5,6,7,8,9,10,11,12
0,[CHITTORGARH],[CHITTORGARH],[RAJASTHAN],[406],"[240 53"" N]","[740 38"" E]",5.1,0,0,0,0,64.2,362.8,103.5,205.5,0,0,0
1,[KAPASAN ],[CHITTORGARH],[RAJASTHAN],[406],"[240 53"" N]","[740 19"" E]",0,0,0,0,0,35.8,256.8,121.8,112.9,41.6,12.7,0
2,[PRATAPGARH],[CHITTORGARH],[RAJASTHAN],[105],"[240 03"" N]","[740 47"" E]",6.8,0,0,0,4.6,65.8,270.5,207.7,456,2,2,0
3,[NIMBAHERA],[CHITTORGARH],[RAJASTHAN],[406],"[240 37"" N]","[740 42"" E]",17.8,0,0,4.6,0,8.6,253.5,235,231.7,8.6,24.1,0
4,[GANGRAR],[CHITTORGARH],[RAJASTHAN],[406],"[250 03"" N]","[740 37"" E]",0,0,0,5.3,0,10.2,520.2,154.9,157.5,0,0,0
5,[RASHMI],[CHITTORGARH],[RAJASTHAN],[406],"[250 04"" N]","[740 21"" E]",7.9,0,0,0,0,72.1,354.6,225,102.2,7.6,0,0
6,[BEGUN],[CHITTORGARH],[RAJASTHAN],[404],"[240 59"" N]","[750 08"" E]",11.4,0,0,0,0,60.5,280.4,171.9,218.5,0,0,0
7,[BHENSRODGARDH],[CHITTORGARH],[RAJASTHAN],[404],"[240 59"" N]","[750 08"" E]",0,0,0,0,0,92.2,425.5,216.5,450.8,6.2,0,0
8,[ACHNERA],[CHITTORGARH],[RAJASTHAN],[404],"[240 59"" N]","[750 08"" E]",0,0,0,0,0,115,395.8,198.7,546.8,4.3,8.6,0
9,[BHADESAR],[CHITTORGARH],[RAJASTHAN],[406],"[240 41"" N]","[740 30"" E]",6.6,0,0,0,0,162.1,267.1,113.1,187.9,57.7,0,0
10,[CHHOTI SADRI ],[CHITTORGARH],[RAJASTHAN],[406],"[240 25"" N]","[740 29"" E]",19.1,0,0,0,2.5,257.8,413.1,65.7,294.4,11.4,0,0.8
11,[BARI SADRI ],[CHITTORGARH],[RAJASTHAN],[105],"[240 23"" N]","[740 42"" E]",16.5,0,0,0,0,77.5,422.6,140.8,208.8,41.9,26.7,0
12,[KANERA],[CHITTORGARH],[RAJASTHAN],[406],"[250 02"" N]","[740 50"" E]",17.8,0,0,0,0,70.1,N.A.,N.A.,N.A.,0,0,0
13,[DUNGLA],[CHITTORGARH],[RAJASTHAN],[406],"[240 31"" N]","[740 20"" E]",15.7,0,0,0,0,112.8,473.5,133.6,246.8,8.9,0.8,0
14,[CHITTOR (Silt Lab) *],[CHITTORGARH],[RAJASTHAN],[406],"[250 02"" N]","[740 50"" E]",N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.

In [18]:
Monthly_Rainfall.columns = ['STATION','DISTRICT','STATE','CATCHMENT NO:','LATITUDE','LONGITUDE','JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']

In [19]:
Monthly_Rainfall

,STATION,DISTRICT,STATE,CATCHMENT NO:,LATITUDE,LONGITUDE,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,[CHITTORGARH],[CHITTORGARH],[RAJASTHAN],[406],"[240 53"" N]","[740 38"" E]",5.1,0,0,0,0,64.2,362.8,103.5,205.5,0,0,0
1,[KAPASAN ],[CHITTORGARH],[RAJASTHAN],[406],"[240 53"" N]","[740 19"" E]",0,0,0,0,0,35.8,256.8,121.8,112.9,41.6,12.7,0
2,[PRATAPGARH],[CHITTORGARH],[RAJASTHAN],[105],"[240 03"" N]","[740 47"" E]",6.8,0,0,0,4.6,65.8,270.5,207.7,456,2,2,0
3,[NIMBAHERA],[CHITTORGARH],[RAJASTHAN],[406],"[240 37"" N]","[740 42"" E]",17.8,0,0,4.6,0,8.6,253.5,235,231.7,8.6,24.1,0
4,[GANGRAR],[CHITTORGARH],[RAJASTHAN],[406],"[250 03"" N]","[740 37"" E]",0,0,0,5.3,0,10.2,520.2,154.9,157.5,0,0,0
5,[RASHMI],[CHITTORGARH],[RAJASTHAN],[406],"[250 04"" N]","[740 21"" E]",7.9,0,0,0,0,72.1,354.6,225,102.2,7.6,0,0
6,[BEGUN],[CHITTORGARH],[RAJASTHAN],[404],"[240 59"" N]","[750 08"" E]",11.4,0,0,0,0,60.5,280.4,171.9,218.5,0,0,0
7,[BHENSRODGARDH],[CHITTORGARH],[RAJASTHAN],[404],"[240 59"" N]","[750 08"" E]",0,0,0,0,0,92.2,425.5,216.5,450.8,6.2,0,0
8,[ACHNERA],[CHITTORGARH],[RAJASTHAN],[404],"[240 59"" N]","[750 08"" E]",0,0,0,0,0,115,395.8,198.7,546.8,4.3,8.6,0
9,[BHADESAR],[CHITTORGARH],[RAJASTHAN],[406],"[240 41"" N]","[740 30"" E]",6.6,0,0,0,0,162.1,267.1,113.1,187.9,57.7,0,0
10,[CHHOTI SADRI ],[CHITTORGARH],[RAJASTHAN],[406],"[240 25"" N]","[740 29"" E]",19.1,0,0,0,2.5,257.8,413.1,65.7,294.4,11.4,0,0.8
11,[BARI SADRI ],[CHITTORGARH],[RAJASTHAN],[105],"[240 23"" N]","[740 42"" E]",16.5,0,0,0,0,77.5,422.6,140.8,208.8,41.9,26.7,0
12,[KANERA],[CHITTORGARH],[RAJASTHAN],[406],"[250 02"" N]","[740 50"" E]",17.8,0,0,0,0,70.1,N.A.,N.A.,N.A.,0,0,0
13,[DUNGLA],[CHITTORGARH],[RAJASTHAN],[406],"[240 31"" N]","[740 20"" E]",15.7,0,0,0,0,112.8,473.5,133.6,246.8,8.9,0.8,0
14,[CHITTOR (Silt Lab) *],[CHITTORGARH],[RAJASTHAN],[406],"[250 02"" N]","[740 50"" E]",N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.

In [21]:
annual_rain = df.iloc[[50*0 + 47]]
for i in range(1,len(df) // 50 +1):
    annual_rain_unit = df.iloc[[50*i + 47]]
    annual_rain = pd.concat([annual_rain,annual_rain_unit],ignore_index = True)
annual_rain = annual_rain.dropna(axis='columns')
annual_rain = annual_rain.drop([0,4,8,12],axis = 1)

In [22]:
annual_rain.columns = ['ANNUAL RAINFALL','ANNUAL RAINY DAYS']

In [23]:
annual_rain

   ANNUAL RAINFALL ANNUAL RAINY DAYS
0            741.1                40
1            581.6                35
2           1015.4                50
3            783.9                36
4            848.1                26
5            769.4                32
6            742.7                45
7           1191.2                48
8           1269.2                53
9            794.5                33
10          1064.8                49
11           934.8                41
12            87.9                 4
13           992.1                36
14               0                 0

In [24]:
Rainfall = pd.concat([Monthly_Rainfall,annual_rain],axis = 1)
Rainfall

,STATION,DISTRICT,STATE,CATCHMENT NO:,LATITUDE,LONGITUDE,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL,ANNUAL RAINY DAYS
0,[CHITTORGARH],[CHITTORGARH],[RAJASTHAN],[406],"[240 53"" N]","[740 38"" E]",5.1,0,0,0,0,64.2,362.8,103.5,205.5,0,0,0,741.1,40
1,[KAPASAN ],[CHITTORGARH],[RAJASTHAN],[406],"[240 53"" N]","[740 19"" E]",0,0,0,0,0,35.8,256.8,121.8,112.9,41.6,12.7,0,581.6,35
2,[PRATAPGARH],[CHITTORGARH],[RAJASTHAN],[105],"[240 03"" N]","[740 47"" E]",6.8,0,0,0,4.6,65.8,270.5,207.7,456,2,2,0,1015.4,50
3,[NIMBAHERA],[CHITTORGARH],[RAJASTHAN],[406],"[240 37"" N]","[740 42"" E]",17.8,0,0,4.6,0,8.6,253.5,235,231.7,8.6,24.1,0,783.9,36
4,[GANGRAR],[CHITTORGARH],[RAJASTHAN],[406],"[250 03"" N]","[740 37"" E]",0,0,0,5.3,0,10.2,520.2,154.9,157.5,0,0,0,848.1,26
5,[RASHMI],[CHITTORGARH],[RAJASTHAN],[406],"[250 04"" N]","[740 21"" E]",7.9,0,0,0,0,72.1,354.6,225,102.2,7.6,0,0,769.4,32
6,[BEGUN],[CHITTORGARH],[RAJASTHAN],[404],"[240 59"" N]","[750 08"" E]",11.4,0,0,0,0,60.5,280.4,171.9,218.5,0,0,0,742.7,45
7,[BHENSRODGARDH],[CHITTORGARH],[RAJASTHAN],[404],"[240 59"" N]","[750 08"" E]",0,0,0,0,0,92.2,425.5,216.5,450.8,6.2,0,0,1191.2,48
8,[ACHNERA],[CHITTORGARH],[RAJASTHAN],[404],"[240 59"" N]","[750 08"" E]",0,0,0,0,0,115,395.8,198.7,546.8,4.3,8.6,0,1269.2,53
9,[BHADESAR],[CHITTORGARH],[RAJASTHAN],[406],"[240 41"" N]","[740 30"" E]",6.6,0,0,0,0,162.1,267.1,113.1,187.9,57.7,0,0,794.5,33
10,[CHHOTI SADRI ],[CHITTORGARH],[RAJASTHAN],[406],"[240 25"" N]","[740 29"" E]",19.1,0,0,0,2.5,257.8,413.1,65.7,294.4,11.4,0,0.8,1064.8,49
11,[BARI SADRI ],[CHITTORGARH],[RAJASTHAN],[105],"[240 23"" N]","[740 42"" E]",16.5,0,0,0,0,77.5,422.6,140.8,208.8,41.9,26.7,0,934.8,41
12,[KANERA],[CHITTORGARH],[RAJASTHAN],[406],"[250 02"" N]","[740 50"" E]",17.8,0,0,0,0,70.1,N.A.,N.A.,N.A.,0,0,0,87.9,4
13,[DUNGLA],[CHITTORGARH],[RAJASTHAN],[406],"[240 31"" N]","[740 20"" E]",15.7,0,0,0,0,112.8,473.5,133.6,246.8,8.9,0.8,0,992.1,36
14,[CHITTOR (Silt Lab) *],[CHITTORGARH],[RAJASTHAN],[406],"[250 02"" N]","[740 50"" E]",N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,0,0

In [73]:
def getAreaDataFrame(df):
    data_size = len(df) // 50
    t = []
    for i in range(data_size + 1):
        lat = df[7][50*i+1]
        long = df[11][50*i+1]
        print(i)
        if pd.isnull(df[7][50*i+1]) == False:
            lat = lat.replace('N','').replace("'"," ").replace('"',' ')
            new = lat.split()
            lat = float(new[0])/10.0 + float(new[1])/60.0
            
        if pd.isnull(df[11][50*i+1]) == False:
            long = long.replace('E','').replace("'"," ").replace('"',' ')
            new = long.split()
            long = float(new[0])/10.0 + float(new[1])/60.0
        
        
        
        t += [[df[2][50*i], df[7][50*i],df[11][50*i],df[2][50*i+1],lat,long]]
    result = pd.DataFrame(t)
    result.columns = ['STATION','DISTRICT','STATE','CATCHMENT NO:','LATITUDE','LONGITUDE']
    return result

In [74]:
def getMonthlyDataFrame(df):
    data_size = len(df) // 50
    z = df.iloc[[50*0 + 38]]
    for i in range(1,data_size+1):
        z1 = df.iloc[[50*i + 38]]
        z = pd.concat([z,z1],ignore_index = True)
        z = z.drop(0,axis = 1)
    months = ['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']
    z.columns = months
    z[months] = z[months].apply(pd.to_numeric, errors='coerce', axis=1)
    return z

In [75]:
def getAnnualDataFrame(df): 
    data_size = len(df) // 50
    annual_rain = df.iloc[[50*0 + 47]]
    for i in range(1,data_size+1):
        annual_rain_unit = df.iloc[[50*i + 47]]
        annual_rain = pd.concat([annual_rain,annual_rain_unit],ignore_index = True)
    annual_rain = annual_rain.dropna(axis='columns')
    annual_rain = annual_rain.drop([0,4,8,12],axis = 1)
    annual_rain.columns = ['ANNUAL RAINFALL','ANNUAL RAINY DAYS']
    annual_rain[annual_rain.columns] = annual_rain[annual_rain.columns].apply(pd.to_numeric, errors='coerce', axis=1)
    return annual_rain

In [113]:
sheetnames = ['Ajmer','Alwar','Banswara','Barmer','Bharatpur','Bhilwara','Bikaner','Bundi','Chittorgarh','Churu','Dungarpur','Ganganagar','Jaipur','Jaisalmer','Jalore','Jhalawar','Jhunjhunu','Jodhpur','Kota','Nagaur','Pali','Sawai Madhopur','Sikar','Sirohi','Tonk','Udaipur']

In [114]:
def getSummaryRainfallDataFrame(df):
    Annual_Rainfall = getAnnualDataFrame(df)
    Monthly_Rainfall = getMonthlyDataFrame(df)
    AreaData = getAreaDataFrame(df)
    Rainfall = pd.concat([AreaData,Monthly_Rainfall,Annual_Rainfall],axis = 1)
    return Rainfall

In [144]:
x = '1968'

In [146]:
file = r'Print ' + x + '.xls'
print(file)
df = pd.read_excel(file, sheetname=sheetnames[0],header = None)
Rainfall = getSummaryRainfallDataFrame(df)
for sheetname in sheetnames[1:]:
    print(sheetname)
    df = pd.read_excel(file, sheetname=sheetname,header = None)
    Rainfall2 = getSummaryRainfallDataFrame(df)
    Rainfall = pd.concat([Rainfall, Rainfall2],ignore_index = True)

Print 1968.xls
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
Alwar
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
Banswara
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
Barmer
0
1
2
3
4
5
6
7
8
9
Bharatpur
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
Bhilwara
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
Bikaner
0
1
2
3
4
5
Bundi
0
1
2
3
4
5
Chittorgarh
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
Churu
0
1
2
3
4
5
6
7
Dungarpur
0
1
2
3
4
5
6
7
8
9
10
11
12
Ganganagar
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
Jaipur
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
Jaisalmer
0
1
2
3
4
5
6
Jalore
0
1
2
3
4
5
6
7
Jhalawar
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Jhunjhunu
0
1
2
3
4
Jodhpur
0
1
2
3
4
5
6
7
8
9
10
11
12
Kota
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
Nagaur
0
1
2
3
4
5
6
7
8
9
Pali
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
Sawai Madhopur
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
Sikar
0
1
2
3
4
5
6
7
Sirohi
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
Tonk
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
Udaipur
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40

In [147]:
Rainfall

,STATION,DISTRICT,STATE,CATCHMENT NO:,LATITUDE,LONGITUDE,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL,ANNUAL RAINY DAYS
0,AJMER (A),AJMER,RAJASTHAN,108.0,26.450000,74.616667,2.6,2.4,3.2,0.0,12.6,0.0,400.4,40.7,0.0,1.6,0.0,0.0,463.5,19.0
1,SAWAR,AJMER,RAJASTHAN,406.0,26.066667,75.016667,0.0,0.0,0.0,0.0,40.0,0.0,196.0,174.0,0.0,0.0,0.0,0.0,410.0,15.0
2,KEKRI,AJMER,RAJASTHAN,406.0,25.966667,75.150000,0.0,0.0,0.0,0.0,12.0,14.0,183.3,139.9,0.0,8.0,0.0,0.0,357.2,18.0
3,PISANGAN,AJMER,RAJASTHAN,108.0,26.400000,74.383333,0.0,0.0,0.0,0.0,0.0,0.0,185.0,48.0,0.0,0.0,0.0,0.0,233.0,8.0
4,GOELA,AJMER,RAJASTHAN,406.0,26.116667,74.950000,0.0,0.0,0.0,0.0,0.0,0.0,226.0,23.0,0.0,0.0,0.0,0.0,249.0,9.0
5,BEAWAR,AJMER,RAJASTHAN,NaN,26.100000,74.316667,112.0,7.0,22.0,0.0,0.0,0.0,364.3,171.6,0.0,0.0,0.0,0.0,676.9,17.0
6,JAWAJA,AJMER,RAJASTHAN,108.0,25.950000,74.216667,0.0,0.0,0.0,0.0,0.0,0.0,233.1,70.9,0.0,0.0,0.0,0.0,304.0,11.0
7,TATGARH,AJMER,RAJASTHAN,108.0,25.683333,73.966667,10.2,0.0,0.0,0.0,0.0,0.0,125.4,169.9,0.0,0.0,0.0,0.0,305.5,11.0
8,NASIRABAD,AJMER,RAJASTHAN,406.0,26.283333,74.733333,0.0,0.0,0.0,0.0,0.0,0.0,101.0,NaN,0.0,0.0,0.0,0.0,101.0,4.0
9,PUSHKAR,AJMER,RAJASTHAN,108.0,26.500000,74.550000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59.0,0.0,0.0,0.0,0.0,59.0,3.0
10,SRINAGAR,AJMER,RAJASTHAN,406.0,26.433333,74.766667,0.0,0.0,0.0,0.0,0.0,0.0,217.3,NaN,0.0,0.0,0.0,0.0,217.3,5.0
11,MANGALIAWAS,AJMER,RAJASTHAN,108.0,26.283333,74.616667,0.0,0.0,0.0,0.0,0.0,0.0,146.0,17.0,0.0,0.0,0.0,0.0,163.0,7.0
12,GEGAL,AJMER,RAJASTHAN,NaN,26.533333,74.750000,0.0,0.0,0.0,0.0,0.0,0.0,318.0,5.0,0.0,0.0,0.0,0.0,323.0,9.0
13,BHINAI,AJMER,RAJASTHAN,406.0,26.066667,74.766667,0.0,0.0,0.0,0.0,0.0,0.0,174.4,48.0,12.0,8.0,0.0,0.0,242.4,11.0
14,KISHANGARH,AJMER,RAJASTHAN,406.0,26.566667,74.850000,0.0,0.0,0.0,0.0,9.0,0.0,290.0,70.0,0.0,4.0,0.0,0.0,373.0,15.0
15,SARWAR,AJMER,RAJASTHAN,406.0,25.750000,75.216667,0.0,0.0,9.0,0.0,0.0,0.0,187.5,110.1,0.0,0.0,0.0,0.0,306.6,19.0
16,ARAIN,AJMER,RAJASTHAN,406.0,26.450000,75.050000,0.0,0.0,0.0,0.0,0.0,0.0,184.0,106.0,0.0,0.0,0.0,0.0,290.0,13.0
17,VIJAYNAGAR,AJMER,RAJASTHAN,406.0,25.916667,74.583333,38.8,0.0,0.0,0.0,0.0,0.0,56.4,72.0,0.0,0.0,0.0,0.0,167.2,11.0
18,MASUDA,AJMER,RAJASTHAN,NaN,26.116667,74.533333,22.1,0.0,0.0,0.0,12.7,0.0,239.5,65.0,0.0,0.0,0.0,0.0,339.3,12.0
19,AJMER (IMD),AJMER,RAJASTHAN,NaN,26.450000,74.616667,0.0,2.4,3.2,0.0,10.4,0.0,400.4,50.1,0.0,0.0,0.0,0.0,466.5,19.0
20,ALWAR,ALWAR,RAJASTHAN,403.0,27.566667,76.600000,26.0,8.5,22.0,0.0,5.0,14.0,251.1,100.5,0.0,36.8,0.0,0.0,463.9,36.0
21,KISHANGARH,ALWAR,RAJASTHAN,403.0,27.816667,76.716667,31.0,0.0,18.0,13.0,6.0,3.0,223.0,214.0,0.0,7.0,0.0,0.0,515.0,34.0
22,MUNDAWAR,ALWAR,RAJASTHAN,403.0,27.866667,76.550000,19.0,0.0,18.0,0.0,16.0,0.0,308.9,104.7,0.0,3.0,0.0,0.0,469.6,28.0
23,LAXMANGARH,ALWAR,RAJASTHAN,403.0,27.366667,76.866667,24.0,0.0,10.0,0.0,0.0,0.0,212.0,51.0,0.0,17.0,0.0,0.0,314.0,21.0
24,TIJARA,ALWAR,RAJASTHAN,403.0,27.950000,76.850000,31.0,8.0,7.2,0.0,6.3,24.4,225.3,98.0,0.0,25.4,0.0,0.0,425.6,36.0
25,NEEMRANA,ALWAR,RAJASTHAN,403.0,28.000000,76.383333,29.0,0.0,25.0,0.0,0.0,0.0,261.0,39.0,0.0,13.0,0.0,0.0,367.0,17.0
26,GOVINDGARH,ALWAR,RAJASTHAN,403.0,27.500000,77.000000,22.0,0.0,0.0,0.0,0.0,0.0,202.0,163.0,0.0,22.0,0.0,0.0,409.0,17.0
27,KOTKASIM,ALWAR,RAJASTHAN,403.0,28.033333,76.716667,0.0,0.0,0.0,0.0,0.0,24.0,214.0,103.0,0.0,5.0,0.0,0.0,346.0,18.0
28,RAMGARH,ALWAR,RAJASTHAN,403.0,27.583333,76.816667,0.0,0.0,0.0,0.0,0.0,0.0,74.0,31.0,0.0,0.0,0.0,0.0,105.0,5.0
29,MALAKHERA,ALWAR,RAJASTHAN,403.0,27.383333,76.633333,0.0,0.0,0.0,0.0,0.0,0.0,283.5,145.1,0.0,0.0,0.0,0.0,428.6,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,KUMBHALGARH,UDAIPUR,RAJASTHAN,106.0,25.166667,73.566667,0.0,0.0,9.0,0.0,41.0,0.0,190.7,121.5,21.0,0.0,0.0,0.0,383.2,17.0
493,AMET,UDAIPUR,RAJASTHAN,106.0,25.316667,73.933333,0.0,0.0,24.0,0.0,44.0,0.0,148.0,264.0,41.0,0.0,0.0,0.0,521.0,18.0
494,DEOGARH,UDAIPUR,RAJASTHAN,106.0,25.566667,73.966667,0.0,0.0,0.0,0.0,30.0,0.0,263.0,200.0,0.0,0.0,0.0,0.0,493.0,16.0
495,VALLABH NAGAR,UDAIPUR,RAJASTHAN,406.0,24.866667,74.000000,0.0,0.0,19.0,0.0,6.0,50.5,278.0,211.0,10.5,0.0,0.0,0.0,575.0,26.0
496,MAVLI,UDAIPUR,RAJASTHAN,406.0,24.783333,73.983333,0.0,0.0,14.0,0.0,3.0,1.0,153.0,174.8,21.2,0.0,0.0,0.0,367.0,23.0
497,SALUMBER,UDAIPUR,RAJASTHAN,105.0,24.133333,74.050000,0.0,0.0,15.7,0.0,0.0,0.0,238.1,262.5,29.7,14.5,0.0,0.0,560.5,21.0
498,KOTRA,UDAIPUR,RAJASTHAN,106.0,24.366667,73.166667,0.0,0.0,0.0,0.0,0.0,0.0,377.7,337.0,0.0,0.0,0.0,0.0,714.7,17.0
499,GOGUNDA,UDAIPUR,RAJASTHAN,106.0,NaN,NaN,0.0,0.0,1.0,0.0,24.0,0.0,264.0,247.4,24.0,0.0,0.0,0.0,560.4,15.0
500,RAILMAGRA,UDAIPUR,RAJASTHAN,106.0,25.033333,74.133333,0.0,0.0,23.0,0.0,16.0,70.0,268.0,304.0,22.0,4.0,0.0,3.3,710.3,20.0
501,NATHDWARA,UDAIPUR,RAJASTHAN,106.0,24.916667,73.833333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502,UDAIPUR DABOKE (A),UDAIPUR,RAJASTHAN,106.0,NaN,NaN,0.0,0.0,29.9,0.0,7.2,29.7,333.9,242.1,34.4,2.4,0.0,0.0,679.6,27.0
503,VALLABHNAGAR (Agro),UDAIPUR,RAJASTHAN,406.0,24.633333,73.700000,0.0,0.0,0.0,0.0,16.4,21.6,383.3,230.9,12.0,0.0,0.0,0.0,664.2,21.0
504,JAISAMAND *,UDAIPUR,RAJASTHAN,106.0,NaN,NaN,0.0,0.0,15.0,0.0,0.0,0.0,128.0,78.6,30.7,0.0,0.0,24.0,276.3,14.0
505,KEWARA *,UDAIPUR,RAJASTHAN,106.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,15.8,NaN,NaN,19.0,0.0,0.0,0.0,34.8,5.0
506,RAKHABDEV *,UDAIPUR,RAJASTHAN,106.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,336.6,NaN,NaN,0.0,0.0,0.0,336.6,10.0
507,BAGOLIA*,UDAIPUR,RAJASTHAN,NaN,24.833333,73.833333,0.0,0.0,0.0,0.0,22.8,4.6,244.9,168.3,9.0,0.0,0.0,0.0,449.6,22.0
508,PADUNA *,UDAIPUR,RAJASTHAN,106.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,411.3,150.0,160.0,0.0,0.0,0.0,721.3,15.0
509,BARAWARDA *,UDAIPUR,RAJASTHAN,106.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,421.2,244.8,45.6,0.0,0.0,0.0,711.6,17.0
510,NAGLIA *,UDAIPUR,RAJASTHAN,106.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,321.0,315.7,9.1,0.0,0.0,14.2,660.0,24.0
511,GHASA *,UDAIPUR,RAJASTHAN,106.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,228.2,NaN,0.0,0.0,0.0,0.0,228.2,7.0
512,KHEMLI *,UDAIPUR,RAJASTHAN,106.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,220.7,267.2,5.0,0.0,0.0,0.0,492.9,19.0
513,VANA *,UDAIPUR,RAJASTHAN,106.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,350.8,137.5,0.0,11.2,0.0,24.8,524.3,17.0
514,SOM *,UDAIPUR,RAJASTHAN,106.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,290.0,244.9,0.0,12.7,0.0,0.0,547.6,15.0
515,MOMER *,UDAIPUR,RAJASTHAN,106.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,483.2,222.4,6.0,0.0,0.0,0.0,711.6,20.0
516,KURABAR *,UDAIPUR,RAJASTHAN,106.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,320.2,154.0,0.0,0.0,0.0,0.0,474.2,18.0
517,KANOR *,UDAIPUR,RAJASTHAN,106.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,185.5,195.5,0.4,0.6,0.0,28.6,410.6,20.0
518,BABALWARA *,UDAIPUR,RAJASTHAN,106.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,2.3,314.3,219.9,14.0,0.0,0.0,0.0,550.5,12.0
519,CHANDRABHAGA *,UDAIPUR,RAJASTHAN,106.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
520,NAMANA *,UDAIPUR,RAJASTHAN,106.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
521,BHARAI *,UDAIPUR,RAJASTHAN,106.0,25.000000,74.083333,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0

In [148]:
export_csv = Rainfall.to_csv (r'Rainfall_' + x + '.csv', index = None, header=True)